{% extends 'auth_base.html' %}
{% block title %}Вход{% endblock %}

{% block content %}
<h2 class="mb-4 text-center">Вход в систему</h2>

<form method="post">
    {% csrf_token %}

    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <div class="mb-3">
        <label class="form-label">Email</label>
        {{ form.email }}
        {% if form.email.errors %}
            <div class="text-danger small mt-1">{{ form.email.errors }}</div>
        {% endif %}
    </div>

    <div class="mb-3">
        <label class="form-label">Пароль</label>
        {{ form.password }}
        {% if form.password.errors %}
            <div class="text-danger small mt-1">{{ form.password.errors }}</div>
        {% endif %}
    </div>

    <div class="d-grid mb-3">
        <button type="submit" class="btn btn-outline-orange">Войти</button>
    </div>

    <div class="text-center">
        Нет аккаунта? <a href="{% url 'accounts:register' %}">Зарегистрироваться</a>
    </div>
</form>
{% endblock %}